[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "treedater"]
	path = treedater
	url = https://github.com/emvolz/treedater
[submodule "treestructure"]
	path = treestructure
	url = https://github.com/cran/treestructure
